 *{
      background-color: rgb(33, 178, 198);
}

.text {
       color: black;
       font-weight: bold;
       align-items: center;
       text-shadow: 5vh;
}

.container{
    background: #000000;
    background-color: black;
    color: rgb(229, 16, 16); 
    padding-left: 17%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.flex-div p{
    color: rgb(255, 255, 255);
}

.title{
    color: rgb(255, 255, 255);
}

.large-container{
    padding-left: 7%;
    background-color: black;
}

.list-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 15px;
}
.vid-list .thumbnail{
    width: 100%;
    border-radius: 5px;
}
.vid-list .flex-div{
    align-items: flex-start;
    margin-top: 7px;
}
.vid-list .flex-div img{
    width: 35px;
    margin-right: 10px;
    border-radius: 50%;
}
.vid-info{
    color: #5a5a5a;
    font-size: 13px;
}
.vid-info a{
    color: #000;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}